{{#if @pagination}}
<nav class="pagination wrap-inner">	
	{{#if @pagination.nextPage}}
	    <a href="{{@pagination.nextPageUrl}}" class="btn btn-outline">Previous</a> 
	{{/if}}
	{{#if @pagination.previousPage}}
	    <a href="{{@pagination.previousPageUrl}}" class="btn btn-outline pagination-right">Next</a> 
	{{/if}} 
</nav>
{{/if}}
