<amp-animation id="showAnim" layout="nodisplay">
        <script type="application/json">
                {
                    "duration": "200ms",
                    "fill": "both",
                    "iterations": "1",
                    "direction": "alternate",
                    "animations": [{
                        "selector": ".post-scroll",
                        "keyframes": [{
                            "opacity": "1",
                            "visibility": "visible",
                            "transform": "scale(1)"
                        }]
                    }]
                }

        </script>
</amp-animation>
<amp-animation id="hideAnim" layout="nodisplay">
        <script type="application/json">
                {
                    "duration": "200ms",
                    "fill": "both",
                    "iterations": "1",
                    "direction": "alternate",
                    "animations": [{
                        "selector": ".post-scroll",
                        "keyframes": [{
                            "opacity": "0",
                            "visibility": "hidden",
                            "transform": "scale(0.1)"
                        }]
                    }]
                }

            </script>
</amp-animation>
<div class="post-scroll-marker">
     <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay">
     </amp-position-observer>
</div>        
<button class="post-scroll" on="tap:top.scrollTo(duration=200)" >&#8593;</button>

<footer class="bottom">{{{@amp.footerText}}}</footer>
{{> amp-menu menus.mainMenu}}

{{#if @amp.GAID}}
<amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
        {
            "vars": {
                "account": "{{@amp.GAID}}"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>
{{/if}}

{{{@footerAmpCustomCode}}}

</body>
</html>
