{{> head}}
    {{> top}}
    <main>
        <article class="post">
            <header class="hero">
                <h1>
                    {{ translate 'error.404' }}
                </h1>
                <p>{{ translate 'error.message' }}</p>
            </header>
        </article>
    </main>
    {{> footer}}
