*~
.idea
.DS_Store
.coveralls.yml
npm-debug.log
/node_modules/
/app/node_modules/
/coverage
/dist/
/app/dist/
/cache/
/StaticBlog-darwin-x64/
/StaticBlog-win32-x64/
/Publii-darwin-x64/
/Publii-win32-x64/
app/Publii-win32-x64/
/Publii-win32-ia32/
/Publii-linux-x64/
/Publii-win32-x64-backup/
app/licenses.txt
app/Publii-darwin-x64/
/Publii-darwin-x64/
/dmg-release/
/create-dmg/

licenses.txt
release/RELEASES
*.nupkg
release/Setup.exe

Publii.dmg
release/PubliiSetup.exe
*.msi
release/Setup.wixobj
*.wixpdb
release/Setup.wxs
