{{> head}}
    {{> top}}
    <main class="main">
        <div class="page">
            <h1 class="page__title box__title">{{ translate 'error.404' }}</h1>
            <p>{{ translate 'error.message1' }}</p>
        </div>
    </main>
    {{> sidebar}}
    {{> footer}}