.msg {
    background: var(--input-bg-light);
    border-left: 4px solid transparent;
    color: var(--text-light-color);
    font-size: var(--font-size-ui-md);
    line-height: 1.6;
    padding: var(--space-6) var(--space-8);

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.msg-icon {
    align-items: center;
    display: grid;
    grid-template-columns: 28px 1fr;
    grid-gap: 2.2rem;

    & > * {          
        margin: 0;
    }
}

.msg-small {
    line-height: 1.4;
    padding: var(--space-6) 1.4rem var(--space-6) 1.7rem;

    &.msg-icon {
        grid-gap: 1.2rem;
    }
}

.msg-info {
    background-color: oklch(from var(--color-primary) l c h / 6.5%);
    border-color: var(--color-primary);

    svg {
        fill: var(--color-primary);
    }
}

.msg-alert {
    background-color: oklch(from var(--color-danger) l c h / 6.5%);
    border-color: var(--color-danger);

    svg {
        fill: var(--color-danger);
    }
}

.msg-onbg {
    background: var(--bg-secondary);
}
