.tools-log-viewer {
    .CodeMirror {
        height: calc(100vh - 40rem)!important;
        top: 2rem;
    }
}

.tools-custom-css {

    .editor-wrapper > div {
        display: flex;
        flex-direction: column-reverse;
    }
    .CodeMirror {
        height: calc(100vh - 35rem)!important;
        top: 2rem;
    }
    .CodeMirror-advanced-dialog {
        position: relative;
    }
}

.tools-custom-html {

    .tab > div {
        display: flex;
        flex-direction: column-reverse;
    }
    .CodeMirror {
        background: var(--bg-primary);
        border: 1px solid var(--input-border-color);
        height: calc(100vh - 43rem)!important;
    }
    .CodeMirror-advanced-dialog {
        position: relative;
    }
}


// Special styles for win
body[data-os="win"] {
    .tools-log-viewer,
    .tools-custom-html {
        .CodeMirror {
            height: calc(100vh - 45rem)!important;
        }
    }
}

body[data-os="linux"] {
    .tools-log-viewer,
    .tools-custom-html {
        .CodeMirror {
            height: calc(100vh - 41.4rem)!important;
        }
    }
}

@media (max-width: 1400px) {
    .tools-log-viewer,
    .tools-custom-html {
        .CodeMirror {
            height: calc(100vh - 31rem)!important;
        }
    }

    // Special styles for win
    body[data-os="win"] {
        .tools-log-viewer,
        .tools-custom-html {
            .CodeMirror {
                height: calc(100vh - 35rem)!important;
            }
        }
    }

    body[data-os="linux"] {
        .tools-log-viewer,
        .tools-custom-html {
            .CodeMirror {
                height: calc(100vh - 31.4rem)!important;
            }
        }
    }
}

/*
 * Responsive improvements
 */

 @media (max-width: 1540px) {
    .tools-custom-html {

        .CodeMirror-advanced-dialog {
            position: fixed;
            width: calc(100% - $app-sidebar - 1px);
            left: $app-sidebar;
        }
    }
}