// common
html {
    --border-radius: 6px;
    --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times New Roman, Times, Serif;
    --font-monospace: Menlo, Monaco, Consolas, Courier New, monospace;       
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --topbar-height: 2.2rem;
    --transition: all .2s ease-out;
}

html[data-is-osx-11-or-higher="true"] {
    --topbar-height: 2.6rem;
}

// default
html[data-theme="default"] {

    // color pallete
    --color-5: #f4fafe;
    --color-10: #d8ecfd;
    --color-15: #c7e4fc;
    --color-20: #b0d9fb;
    --color-25: #9acffa;
    --color-30: #84c4f9;
    --color-35: #6db9f7;
    --color-40: #57aef6;
    --color-45: #40a4f5;
    --color-50: #2a99f4;
    --color-55: #0d8bf2;
    --color-60: #0b7bd6;
    --color-65: #0a6aba;
    --color-70: #085a9d;
    --color-75: #074a81;
    --color-80: #053964;
    --color-85: #042947;
    --color-90: #02192b;
    --color-95: #01080e;

    --neutral-5: #f6f6f9;
    --neutral-10: #e7e8ea;
    --neutral-15: #d7d8dc;
    --neutral-20: #c7c9ce;
    --neutral-25: #b7b9c0;
    --neutral-30: #a7a9b2;
    --neutral-35: #969aa4;
    --neutral-40: #868a96;
    --neutral-45: #767b88;
    --neutral-50: #686c78;
    --neutral-55: #5d616b;
    --neutral-60: #52555f;
    --neutral-65: #474a52;
    --neutral-70: #3c3f46;
    --neutral-75: #313339;
    --neutral-80: #26282c;
    --neutral-85: #1b1c20;
    --neutral-90: #101113;
    --neutral-95: #050606;
     
    // basic
    --color-primary: var(--color-55);
    --color-primary-rgb: 13, 139, 242;

    --gray-6: var(--neutral-10);
    --gray-4: var(--neutral-50);
    --gray-3: var(--neutral-55);
    --gray-2: var(--neutral-15);
    --gray-1: var(--neutral-5);
    --white: #fff;
    --white-rgb: 255,255,255;
    --warning: #EA1A16;
    --warning-rgb: 234,26,22;
    --success: #40B771;
    --success-rgb: 64,183,113;
    --highlighted: #FFF8E1;
    --yellow: 255, 196, 0;
    --shadow: rgba(61, 70, 78, .25);
    --box-shadow-small: 0 2px 6px rgba(0, 0, 0, 0.06);
    --box-shadow-medium: 0 2px 6px rgba(0, 0, 0, 0.15);
        
    --overlay: rgba(0,0,0, .35);
                
    --icon-primary-color: var(--neutral-70);
    --icon-secondary-color: var(--neutral-55);
    --icon-tertiary-color:  var(--neutral-70);
        
    --bg-primary: var(--white); 
    --bg-secondary: var(--white);
    --bg-site: var(--neutral-5);    

    --border-light-color: var(--neutral-10); 
        
    --input-bg: var(--white);
    --input-bg-hover: var(--neutral-5);
    --input-bg-light: var(--neutral-5);
    --input-border-color: var(--neutral-15);
    --input-border-focus: var(--color-55);
    --input-border-checked: var(--color-20);
    --label-color: var(--color-90);
        
    --button-bg: var(--color-55);
    --button-bg-hover: var(--color-60);  
    --button-secondary-bg: var(--color-10);
    --button-secondary-bg-hover: var(--color-15); 
    --button-secondary-color: var(--color-65); 
    --button-secondary-color-hover: var(--color-70); 
    --button-tertiary-bg: var(--color-55);
    --button-tertiary-bg-hover: var(--color-60);    
    --button-red-bg: var(--warning);
    --button-red-bg-hover: #cd1613; 
    --button-gray-bg: var(--neutral-50);
    --button-gray-bg-hover: var(--neutral-55);
        
    --text-primary-color: var(--neutral-70);
    --text-light-color: var(--neutral-55); 
    --text-editor-body-color: var(--neutral-70);
    --headings-color: var(--color-90);  
        
    --link-primary-color: var(--color-65); 
    --link-primary-hover-color: var(--color-90); 
        
    --sidebar-bg-top: var(--color-60);
    --sidebar-bg-bottom: var(--color-55);     
    --sidebar-link-color: var(--white);
    --sidebar-link-color-hover: var(--white);   
    --sidebar-link-color-active: var(--white);  
    --sidebar-link-bg-hover: rgba(98, 185, 255, 0.35); 
    --sidebar-link-bg-active: rgba(98, 185, 255, 0.35); 
    --sidebar-link-opacity: .85; 
    --sidebar-link-icon: var(--white);
    --sidebar-link-icon-hover: var(--white);
    --sidebar-sync-btn-bg: rgba(98, 185, 255, 0.55); 
    --sidebar-sync-btn-color: var(--white);
    --sidebar-preview-btn-color: var(--white);
    --sidebar-preview-btn-color-hover: var(--white);
    --sidebar-preview-btn-border-color: rgba(255,255,255, .4);
    --sidebar-preview-btn-border-color-hover: var(--white);

    --sidebar-icon: var(--white);
        
    --option-sidebar-bg: var(--white);
        
    --tab-color: var(--color-90);
    --tab-color-hover: var(--color-65);
    --tab-active-bg: var(--color-10); 
    --tab-active-color: var(--color-65); 
        
    --scrollbar: #F6F8FA;
    --scrollbar-hover: var(--neutral-15);

    --top-app-bar: var(--neutral-15);
        
    --progress-bar: rgba(255, 255, 255, 0.3);
        
    --popup-bg: var(--white);
    --popup-btn-cancel-color: var(--neutral-50);
    --popup-btn-cancel-hover-color: var(--neutral-50);
    --popup-btn-cancel-bg: var(--white);
    --popup-btn-cancel-hover-bg: var(--neutral-5);

    --code-1: #708;
    --code-2: #219;
    --code-3: #164;
    --code-4: #00f;
    --code-5: #05a;
    --code-6: #085;
    --code-7: #a50;
    --code-8: #a11;
    --code-9: #f50;
    --code-10: #555;
    --code-11: #30a;
    --code-12: #170;
    --code-14: #00c;
    --code-15: #999;
    --code-16: #f00;
    --code-17: #292;
    --code-18: #090;
    --code-19: #997;
    --code-20: #d7d4f0;
    --code-21: #000;

    --text-selection-color: #b6d8fd;
}
  
//dark
html[data-theme="dark"] { 
    --color-primary: #1089ff;
    --color-primary-rgb: 16, 137, 255;
    
    --gray-6: #3e3f4c;
    --gray-4: #6f7480;   
    --gray-3: #8e929d;
    --gray-2: #3e3f4c;
    --gray-1: #2b2c35;  
    --white: #fff;
    --white-rgb: 255,255,255;
    --warning: #FF1011;
    --warning-rgb: 255,16,17;
    --success: #56a900;
    --success-rgb: 86,169,0;
    --highlighted: #343540;
    --yellow: 255, 196, 0;
    --shadow: rgba(30, 33, 40, .25);
    --box-shadow-small: 0 2px 6px rgb(23 25 31);
    --box-shadow-medium: 0 2px 6px rgb(23 25 31);
        
    --overlay: rgba(30,33,40, .80);
                
    --icon-primary-color: #8e929d;
    --icon-secondary-color: #7F838D;
    --icon-tertiary-color: rgba(255,255,255, .87);
        
    --bg-primary: #202128; 
    --bg-secondary: #191a1f; 
    --bg-site: #202128;    

    --border-light-color: #272831;
        
    --input-bg: #2b2c35;
    --input-bg-hover: #343540;
    --input-bg-light: #2b2c35;
    --input-border-color: #3e3f4c;
    --input-border-focus: #1089ff;
    --input-border-checked: rgba(16,137,255, .59);
    --label-color: #8e929d;
        
    --button-bg: #1089ff;
    --button-bg-hover: #0067cb; 
    --button-secondary-bg: #1089ff;
    --button-secondary-bg-hover: #0067cb; 
    --button-secondary-color: #FFFFFF;   
    --button-secondary-color-hover: #FFFFFF; 
    --button-tertiary-bg: #56a900;
    --button-tertiary-bg-hover: #458800;
    --button-red-bg: #ed0001;
    --button-red-bg-hover: #a90001;
    --button-gray-bg: #6f7480;
    --button-gray-bg-hover: #1089ff;
        
    --text-primary-color: rgba(255,255,255, .87); 
    --text-light-color: #7F838D; 
    --text-editor-body-color: rgba(255,255,255, .87);
    --headings-color: rgba(255,255,255, .87);
        
    --link-primary-color: rgba(255,255,255, .87);
    --link-primary-hover-color: #2e98ff; 
    --link-primary-color: #8e929d;
    --link-primary-hover-color: #2e98ff; 
    --link-primary-color: rgba(255,255,255, .87);
    --link-primary-hover-color: #2e98ff;         
    
    --sidebar-bg-top: #191a1f;
    --sidebar-bg-bottom: #191a1f;
    --sidebar-link-color: #8e929d;  
    --sidebar-link-color-hover: rgba(255,255,255, .87);
    --sidebar-link-color-active: rgba(255,255,255, .87);
    --sidebar-link-bg-hover: #202128; 
    --sidebar-link-bg-active: #23262e;  
    --sidebar-link-opacity: 1; 
    --sidebar-link-icon: #8e929d;
    --sidebar-link-icon-hover: #ffffff;
    --sidebar-sync-btn-bg: #1089ff; 
    --sidebar-sync-btn-color: rgba(255,255,255, .87);
    --sidebar-preview-btn-color: rgba(255,255,255, .87);
    --sidebar-preview-btn-color-hover: #fff;
    --sidebar-preview-btn-border-color: #3e3f4c;
    --sidebar-preview-btn-border-color-hover: #8e929d;

    --sidebar-icon: rgba(255,255,255, .87);
        
    --option-sidebar-bg: #22232a;
        
    --tab-color: rgba(255,255,255, .87);
    --tab-color-hover: #2e98ff;
    --tab-active-bg: #1089ff; 
    --tab-active-color: #FFFFFF; 
        
    --scrollbar: #202128;
    --scrollbar-hover: #6f7480;

    --top-app-bar: #272831;
        
    --progress-bar: rgba(25, 26, 31, 0.3);
        
    --popup-bg: #2b2c35;
    --popup-btn-cancel-color: #8e929d;
    --popup-btn-cancel-hover-color: rgba(255,255,255, .87);
    --popup-btn-cancel-bg: #2b2c35;
    --popup-btn-cancel-hover-bg: #343540;
        
    --code-1: #f2777a;
    --code-2: #DC7EED;
    --code-3: #DC7EED;
    --code-4: #f99157;
    --code-5: #8ED892;
    --code-6: #95BDF8;
    --code-7: #bd8064;
    --code-8: #ffcc66;
    --code-9: #f50;
    --code-10: #8e929d;
    --code-11: #2e98ff;
    --code-12: #f2777a;
    --code-14: #DC7EED;
    --code-15: #999;
    --code-16: #fff;
    --code-17: #292;
    --code-18: #090;
    --code-19: #CCCCCC;
    --code-20: #272831;
    --code-21: #f2777a;

    --text-selection-color: #94b6db;
}
