// default
html[data-theme="default"] {
    --primary-color: #42a5f5;
    --primary-color-rgb: 66, 165, 245;
    --secondary-color: #2a99f4;   
    --gray-7: #f6f7f8;
    --gray-6: #EDEEF1;
    --gray-5: #3d464e;  
    --gray-4: #707277;
    --gray-3: #8e929d;
    --gray-2: #dddddd;
    --gray-1: #f6f7f8;
    --white: #fff;
    --white-rgb: 255,255,255;
    --warning: #EA1A16;
    --warning-rgb: 234,26,22;
    --success: #40B771;
    --success-rgb: 64,183,113;
    --highlighted: #FFF8E1;
    --yellow: 255, 196, 0;
    --shadow: rgba(61, 70, 78, .25);
        
    --overlay: rgba(0,0,0, .35);
        
    --transition: all .2s ease-out;
        
    --icon-primary-color: #4e5360;
    --icon-secondary-color: #8e929d;
    --icon-tertiary-color: #3d464e;
        
    --bg-primary: #fff; 
    --bg-secondary: #fff;    

    --border-light-color: #dfe0e3; 
        
    --input-bg: #fff;
    --input-bg-hover: #f6f7f8;
    --input-bg-light: #f6f7f8;
    --input-border-color: #dfe0e3;
    --input-border-focus: #42a5f5;
    --label-color: #2a2e30;
        
    --button-bg: #42a5f5;
    --button-hover-bg: #1d93f3;    
    --button-green-bg: #40B771;
    --button-green-hover-bg: #38a063;    
    --button-red-bg: #EA1A16;
    --button-red-hover-bg: #cd1613; 
    --button-gray-bg: #8e929d;
    --button-gray-hover-bg: #707277;
        
    --text-primary-color: #3d464e; 
    --text-light-color: #8e929d; 
    --text-editor-body-color: #3d464e; 
    --headings-color: #2a2e30;  
        
    --link-primary-color: #328ed8; 
    --link-primary-hover-color: #2a2e30; 
    --link-secondary-color:  #328ed8; 
    --link-secondary-hover-color: #2a2e30; 
    --link-tertiary-color:  #2a2e30; 
    --link-tertiary-hover-color: #328ed8; 
        
    --sidebar-bg-top: #2093f1;
    --sidebar-bg-bottom: #42a5f5;     
    --sidebar-link-color: #fff;  
    --sidebar-link-hover-bg: rgba(98, 185, 255, 0.35); 
    --sidebar-link-hover-color: #fff; 
    --sidebar-link-opacity: .7; 
    --sidebar-link-icon: #ffffff;
    --sidebar-link-icon-hover: #ffffff;
    --sidebar-link-active-color: #fff;  
    --sidebar-link-active-bg: rgba(255,255,255, .18); 
    --sidebar-sync-btn-bg: rgba(255,255,255, .18); 
    --sidebar-sync-btn-color: #fff;
    --sidebar-preview-btn-border-color: rgba(255,255,255, .38);
    --sidebar-preview-btn-border-hover-color: #fff;
    --sidebar-preview-btn-color: #fff;
    --sidebar-preview-btn-hover-color: #fff;
    --sidebar-icon: #fff;
        
    --option-sidebar-bg: #fff;
        
    --tab-color: #2a2e30;
    --tab-hover-color: rgba($color-helper-8, 0.4);
    --tab-active-bg: #42a5f5; 
    --tab-active-color: #FFF; 
        
    --scrollbar: #ddd;
    --scrollbar-hover: #707277;
        
    --progress-bar: rgba(255, 255, 255, 0.3);
        
    --popup-bg: #fff; 
    --popup-btn-cancel-color: #707277;
    --popup-btn-cancel-hover-color: #707277;
    --popup-btn-cancel-bg: #fff;
    --popup-btn-cancel-hover-bg: #f6f7f8;
        
    --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times New Roman, Times, Serif;
    --font-monospace: Menlo, Monaco, Consolas, Courier New, monospace;
        
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;

    --code-1: #708;
    --code-2: #219;
    --code-3: #164;
    --code-4: #00f;
    --code-5: #05a;
    --code-6: #085;
    --code-7: #a50;
    --code-8: #a11;
    --code-9: #f50;
    --code-10: #555;
    --code-11: #30a;
    --code-12: #170;
    --code-14: #00c;
    --code-15: #999;
    --code-16: #f00;
    --code-17: #292;
    --code-18: #090;
    --code-19: #997;
    --code-20: #d7d4f0;
    --code-21: #000;
}
  
//dark
html[data-theme="dark"] { 
    --primary-color: #1089ff;
    --primary-color-rgb: 16, 137, 255;
    --secondary-color: #2a99f4;   
    --gray-7: #1e2128;
    --gray-6: #3e3f4c;
    --gray-5: #8e929d;   
    --gray-4: #6f7480;   
    --gray-3: #8e929d;
    --gray-2: #dddddd;
    --gray-1: #2b2c35;  
    --white: #fff;
    --white-rgb: 255,255,255;
    --warning: #FF1011;
    --warning-rgb: 255,16,17;
    --success: #56a900;
    --success-rgb: 86,169,0;
    --highlighted: #343540;
    --yellow: 255, 196, 0;
    --shadow: rgba(30, 33, 40, .25);
        
    --overlay: rgba(30,33,40, .80);
        
    --transition: all .2s ease-out;
        
    --icon-primary-color: #8e929d;
    --icon-secondary-color: #7F838D;
    --icon-tertiary-color: rgba(255,255,255, .87);
        
    --bg-primary: #202128; 
    --bg-secondary: #191a1f;     

    --border-light-color: #282930; 
        
    --input-bg: #2b2c35;
    --input-bg-hover: #343540;
    --input-bg-light: #2b2c35;
    --input-border-color: #3e3f4c;
    --input-border-focus: #1089ff;
    --label-color: #8e929d;
        
    --button-bg: #1089ff;
    --button-hover-bg: #0067cb;    
    --button-green-bg: #56a900;
    --button-green-hover-bg: #458800;
    --button-red-bg: #ed0001;
    --button-red-hover-bg: #a90001;
    --button-gray-bg: #6f7480;
    --button-gray-hover-bg: #1089ff;
        
    --text-primary-color: rgba(255,255,255, .87); 
    --text-light-color: #7F838D; 
    --text-editor-body-color: rgba(255,255,255, .87);
    --headings-color: rgba(255,255,255, .87);
        
    --link-primary-color: rgba(255,255,255, .87);
    --link-primary-hover-color: #2e98ff; 
    --link-secondary-color: #8e929d;
    --link-secondary-hover-color: #2e98ff; 
    --link-tertiary-color: rgba(255,255,255, .87);
    --link-tertiary-hover-color: #2e98ff;         
    
    --sidebar-bg-top: #191a1f;
    --sidebar-bg-bottom: #191a1f;
    --sidebar-link-color: #8e929d;  
    --sidebar-link-hover-bg: #202128; 
    --sidebar-link-hover-color: rgba(255,255,255, .87);
    --sidebar-link-opacity: 1; 
    --sidebar-link-icon: #8e929d;
    --sidebar-link-icon-hover: #ffffff;
    --sidebar-link-active-color: rgba(255,255,255, .87);
    --sidebar-link-active-bg: #23262e;  
    --sidebar-sync-btn-bg: #1089ff; 
    --sidebar-sync-btn-color: rgba(255,255,255, .87);
    --sidebar-preview-btn-border-color: #3e3f4c;
    --sidebar-preview-btn-border-hover-color: #8e929d;
    --sidebar-preview-btn-color: rgba(255,255,255, .87);
    --sidebar-preview-btn-hover-color: #fff;
    --sidebar-icon: rgba(255,255,255, .87);
        
    --option-sidebar-bg: #22232a;
        
    --tab-color: rgba(255,255,255, .87);
    --tab-hover-color: #23262e;
    --tab-active-bg: #1089ff; 
    --tab-active-color: #FFFFFF; 
        
    --scrollbar: #3b414f;
    --scrollbar-hover: #6f7480;
        
    --progress-bar: rgba(25, 26, 31, 0.3);
        
    --popup-bg: #2b2c35;
    --popup-btn-cancel-color: #8e929d;
    --popup-btn-cancel-hover-color: rgba(255,255,255, .87);
    --popup-btn-cancel-bg: #2b2c35;
    --popup-btn-cancel-hover-bg: #343540;
        
    --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times New Roman, Times, Serif;
    --font-monospace: Menlo, Monaco, Consolas, Courier New, monospace;
        
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
        
    --code-1: #f2777a;
    --code-2: #DC7EED;
    --code-3: #DC7EED;
    --code-4: #f99157;
    --code-5: #8ED892;
    --code-6: #95BDF8;
    --code-7: #bd8064;
    --code-8: #ffcc66;
    --code-9: #f50;
    --code-10: #8e929d;
    --code-11: #2e98ff;
    --code-12: #f2777a;
    --code-14: #DC7EED;
    --code-15: #999;
    --code-16: #fff;
    --code-17: #292;
    --code-18: #090;
    --code-19: #CCCCCC;
    --code-20: #282930;
    --code-21: #f2777a;
}
