/*
 * Common HTML elements
 */

@import url('../assets/vendor/css/normalize.css');

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-site);
    color: var(--text-primary-color);
    font: 400 1rem var(--font-base);
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: $line-height;
}

html,
body {
    min-height: 100%;
}

a {
    color: var(--link-primary-color);
    text-decoration: none;
    transition: var(--transition);

    &:active,
    &:focus,
    &:hover {
        color: var(--link-primary-color-hover);
    }

    svg {
        pointer-events: none;
    }

    &[disabled] {
        pointer-events: none;
    }
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-base);
}

h1 {
    color: var(--headings-color);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.01em;
}

h2 {
    color: var(--headings-color);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    margin: 0 0 2rem;
}

h3 {
    color: var(--headings-color);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 2rem;
}

h4 {
    color: var(--headings-color);
    font-size: $app-font-base;
    font-weight: 600;
    margin: 0 0 1rem;
}

b {
    font-weight: 400;
}

table {
    width: 100%;

    td {
        padding: 0 0 12 * $spacing;
        vertical-align: top;
    }
}

form p {
    margin-bottom: 6 * $spacing;
}



/*
 * Screens
 */

.screen {
   background: var(--bg-primary);

    &.screen-splashscreen {
        -webkit-app-region: drag; // necessary for making window draggable
        -webkit-user-select: none; // remove conflict with the text selection
        height: 100vh;
        width: 100vw;
    }
}

/*
 * States
 */

.is-hidden-dependency {
    display: none;
}

.is-hidden {
    display: none!important;
}

.is-validation-message,
.is-required {
    color: var(--warning);
}

.is-rotating {
    animation:spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}

/*
 * Custom scrollbars for the app
 */

::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    background: transparent;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
    width: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    border-width: 0;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.use-wide-scrollbars {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    .collection {
        &:after {
            right: 12px!important;
        }
    }
}
