.help-panel {
    background: var(--option-sidebar-bg);
    border-left: 1px solid var(--input-border-color);
    display: none;
    height: calc(100vh - var(--topbar-height));
    overflow: auto;
    position: absolute;
    right: 0;
    top: var(--topbar-height);    
    width: 44.2rem;
    z-index: 9999;
    
     &::before {
            background: linear-gradient(to bottom, var(--option-sidebar-bg) 0%,var(--option-sidebar-bg) 75%,transparent 100%);
            content: "";
            height: 10rem;
            position: fixed;
            top: var(--topbar-height);
            right: 0;
            width: 44.1rem;
            z-index: 1;
        }
    
     &::after {
            background: linear-gradient(to top, var(--option-sidebar-bg) 0%,var(--option-sidebar-bg) 75%,transparent 100%);
            content: "";
            height: 6rem;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 44.1rem;
            z-index: 1;
        }
    
    &.is-visible {
        display: block;
    }

    & > div {
        font-size: 14px;
        padding:  8rem 3.6rem;
         
    }
    
    &-header {
            border-bottom: 1px solid var(--input-border-color); 
            font-size: 1.8rem;
            margin: -3.6rem 0 2rem;
            padding: calc(1rem + 0.6vw) 0 2.25rem
    }
    
    &-desc {
        color: var(--text-light-color);
        
        span {
            background: var(--input-border-color);
            border-radius: 4px;
            color: var(--text-primary-color);
            padding: 2px 4px;
        }
    }
    
    &-table {
        border-collapse: collapse;   
        margin-top: .6rem;
        
        &.col-3 {
            td {
                width: auto !important;
            } 
        }
        
        th {
            border-bottom: 1px solid var(--input-border-color); 
            padding: 12px 14px;
            text-align: left;
        }
        
        td {            
            border-bottom: 1px solid var(--input-border-color); 
            border-right: 1px solid var(--input-border-color); 
            padding: 12px 14px;
            vertical-align: top;
            white-space: nowrap;
            width: 50%;
            
            &:last-child {
                border-right: none;
            }
        }
    }     
}
