.msg {
    background: var(--input-bg-light);
    border-left: 4px solid transparent;
    color: var(--text-light-color);
    font-size: 1.4rem;
    padding: 2rem 2rem 2rem 2.5rem;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    &-icon {
        align-items: center;
        display: grid;
        grid-template-columns: 28px 1fr;
        grid-gap: 2.2rem;

        & > * {          
            margin: 0;
        }
    }

    &-info {
        border-color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }

    &-alert {
        border-color: var(--warning);

        svg {
            fill: var(--warning);
        }
    }
}
