@use "sass:math";

$color-1: #2a99f4;
$color-4: #2a2e30;
$color-8: #dddddd;

$color-helper-6: #ffc400;
$color-helper-7: #1e2128;
$color-helper-8: #e5e6e8;

/*
 * Others
 */

$wrapper: 960px; // app pages view
$spacing: 0.25rem; // ($baseline / 6.4)
$options-sidebar-width: 50rem; 

// Modular scale

$modularscale: (
  base: 1em,
  ratio: 1.125 //$major-second 
); 

// Min and Max screen width
$minScreen: 49rem;
$maxScreen: 100rem; 


// Baseline
$line-height: 1.6;
$baseline: math.div(1.6rem, 7); 


// Font size map
$font: ( 
	min: 1em,
	max: 1.2em 
);

$h1: ( 
	min: (ms(4)), 
	max: (ms(5))
); 
$h2: ( 
	min: (ms(3)),
	max: (ms(4))
);
$h3: ( 
	min: (ms(2)),
	max: (ms(3))
);
$h4: ( 
	min: (ms(1)),
	max: (ms(2))
);
$h5: ( 
	min: (ms(0)),
	max: (ms(1))
);
$h6: ( 
	min: (ms(0)),
	max: (ms(0)) 
);
