/*
 * color palette
 */
$color-0: #71c0ff;
$color-1: #42a5f5;
$color-2: #40b771;
$color-3: #ef5350;
$color-4: #2a2e30;
$color-5: #3d464e;
$color-6: #707277;
$color-7: #8e929d;
$color-8: #cbcdd4;
$color-9: #f6f9fa;
$color-10: #fff;

$color-helper-1: #FFD54F;
$color-helper-2: #5765A2;
$color-helper-3: #A57C3A;
$color-helper-4: #D48CDA;
$color-helper-5: #FFF8E1;
$color-helper-6: #ffc400;
$color-helper-7: #1d2a38;
$color-helper-8: #e5e6e8;

$link-color: #328ed8;
$link-hover-color: #2a2e30;

$grey-icon-color: $color-7; 
$danger-color: #ef5350;
$post-editor-sidebar-color: #f6f9fa; 

/*
 * Logo color sets
 */

$logo-colors: (
    bg1: #68CBF6, color1: #fff,
    bg2: #348FD6, color2: #fff,
    bg3: #46D6DB, color3: #fff,
    bg4: #8ED892, color4: #fff,
    bg5: #FEC32D, color5: #fff,
    bg6: #FD9F28, color6: #fff,
    bg7: #FD8A6A, color7: #fff,
    bg8: #FD82AB, color8: #fff,
    bg9: #95BDF8, color9: #fff,
    bg10: #B49AE6, color10: #fff,
    bg11: #DC7EED, color11: #fff,
    bg12: #B0BEC5, color12: #fff,
    bg13: #717E88, color13: #fff,
    bg14: #38474F, color14: #fff,
    bg15: #B6A6A0, color15: #fff,
    bg16: #8C6E64, color16: #fff
);

/*
 * fonts
 */
$primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$secondary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/*
 * Dimensions
 */

$baseline: 1.5;
$spacing: 0.25rem; // ($baseline / 6)
