{{> head}}
    {{> top}}
    <main>
        <article class="post u-wrapper">
            <header class="hero">
                <h1>{{ translate 'error.404' }}</h1>
            </header>
            <p>{{ translate 'error.message' }}</p>
        </article>
    </main>
    {{> footer}}
