{{> head}}
{{> navbar}}
<main class="page page--search">
   <div class="content search-page">
      <div class="hero {{#checkIfNone featuredImage.url}}hero--noimage{{/checkIfNone}}">
         <header class="hero__content {{#checkIf @config.custom.alignHero '==' "center" }}hero__content--centered{{/checkIf}}">
            <div class="wrapper">
               <h1>
                  {{ translate 'search.title' }}
               </h1>               
            </div>
         </header>
      </div>
      <div class="entry-wrapper content__entry">
         {{{@customSearchContent}}}  
      </div>
   </div>
</main>
{{> footer}}
