

.editor > .editor-inner {
    font-size: var(--editor-font-size);

    & > .wrapper > div {
        color: var(--text-primary-color);
        -webkit-font-smoothing: antialiased;
        font-family: var(--editor-font-family);
        font-size: 1em;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height);
       
        a:not(.btn):not(.publii-block-toc a) {
            border-bottom: 3px solid rgba(var(--yellow), 1);
            color: var(--link-invert-color);
            cursor: pointer;
            text-decoration: none !important;
            text-decoration-skip-ink: auto;

            &:hover {
                background: rgba(var(--yellow), .2);
                color: var(--link-invert-color);
            }

            &:active {
                color: var(--link-invert-color);
            }

            &:focus {
                color: var(--link-invert-color);
                outline: 2px dotted var(--color-primary);
            }
        }

        p,
        ul,
        ol,
        dl,
        table,
        hr,
        blockquote,
        figure,
        pre,
        table,
        script {
            margin: 0;
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--headings-color);
            font-family: var(--font-base);
            font-weight: var(--font-weight-bold);
            letter-spacing: var(--letter-spacing);
            line-height: 1.3;
            margin: 0;
            text-transform: none;
        }

        h1 {
            font-size: 1.802em;
            margin: 0;
        }
        
        h2 {
            font-size: 1.6018em;
        }
        
        h3 {
            font-size: 1.4238em;
        }
        
        h4 {
            font-size: 1.2656em;
        }
        
        h5 {
            font-size: 1.125em;
        }
        
        h6 {
            font-size: 1em;
        }
        

        b,
        strong {
            color: var(--headings-color);
            font-weight: var(--font-weight-bold);
        }

        blockquote {
            border-left: 2px solid var(--gray-3);
            font-family: var(--font-serif);
            font-style: italic;
            padding: 0 0 0 1.1429em;
        }

        ul,
        ol {
            padding: 0 0 0 2em;

            & > li {
                list-style: inherit;
                padding-left: 0.4571em;
            }

            ul,
            ol {
                margin-bottom: 0.4571em;
                margin-top: 0.4571em;
            }
        }

        code {
            background-color: rgba(var(--warning-rgb), .15);
            border-radius: 2px;
            color: var(--warning);
            font-size: 0.8889em;
            font-family: var(--font-monospace);
            padding: 0.2286em 0.4571em;
        }

        pre {
            font-size: 0.8889em;
            padding: 1.3714em;
            white-space: pre-wrap;
            word-wrap: break-word;
            width: 100%;

            code {
                color: inherit !important;
            }
        }

        figcaption {
            color: var(--text-light-color);
            font-size: 0.8889em;
            text-align: center;
        }
        
        label {
            color: var(--label-color);
            font-weight: var(--font-weight-normal);
        }
        
        .msg {
            border: 1px solid transparent;
            border-radius: 3px;
            padding: 0.9143em
        }
    }
}

.editor > .editor-inner > .wrapper > div .msg--highlight {
    background-color: rgba(var(--yellow), .1);
    border-color: rgba(var(--yellow), .5);
}

.editor > .editor-inner > .wrapper > div .msg--info {
    background-color: rgba(var(--color-primary-rgb), .1);
    border-color: rgba(var(--color-primary-rgb), .5);
}

.editor > .editor-inner > .wrapper > div .msg--success {
    background-color: rgba(var(--success-rgb), .1);
    border-color: rgba(var(--success-rgb), .51);
}

.editor > .editor-inner > .wrapper > div .msg--warning {
    background-color: rgba(var(--warning-rgb), .1);
    border-color: rgba(var(--warning-rgb), .5);
}
