@use "sass:math";

//default
html[data-theme="default"] {
    --eb-gray-8: #2b2c35;
    --eb-gray-7: #2b2c35;
    --eb-gray-6: #313339;  
    --eb-gray-5: #6a7081;
    --eb-gray-4: #686c78;
    --eb-gray-3: #cbcdd4;
  
    --eb-gray-1: #f6f6f9;
    --eb-white: #ffffff;
    --eb-warning: #EA1A16;
    --eb-warning-rgb: 234,26,22;
    --eb-success: #40B771;
    --eb-success-rgb: 64,183,113;   
    --eb-yellow: #ffc400;
    --eb-yellow-light: #FFF8E1;
    --eb-shadow: rgba(61, 70, 78, .25);
    --eb-shadow-rgb: 61, 70, 78;
  
    --eb-bg-primary: #ffffff; 
    --eb-bg-secondary: #ffffff; 
  
    --eb-editor-width: 42em;
 
}

// dark 
html[data-theme="dark"] {
   
    --eb-gray-8: #2b2c35;
    --eb-gray-7: #202128;
    --eb-gray-6: #3d464e;  
    --eb-gray-5: #6a7081;
    --eb-gray-4: #8e929d;
    --eb-gray-3: #4d5567; //
    --eb-gray-1: #2b2c35; //
    --eb-white: #ffffff;
    --eb-warning: #FF1011;
    --eb-warning-rgb: 255,16,17;
    --eb-success: #56a900;
    --eb-success-rgb: 86,169,0;
    --eb-yellow: #ffc400;
    --eb-yellow-light: #3e3f4c;
    --eb-shadow: rgba(30, 33, 40, .25);
    
    --eb-bg-primary: #202128; 
    --eb-bg-secondary: #2b2c35; 

    --eb-editor-width: 42em;

   
 
}

// Breakpoints
$breakpoints: ( 
	sm: 600px,
	md: 900px,
	lg: 1200px,
	xl: 1600px 	
); 

// Modular scale

$modularscale: (
  base: 1em,
  ratio: 1.125 //$major-second 
); 

// Min and Max screen width
$minScreen: 49rem;
$maxScreen: 100rem; 


// Baseline
$line-height: 1.6;
$baseline: math.div(1.6em, 7); 


// Font size map
$font: ( 
	min: 1em,
	max: 1.15em 
);

$h1: ( 
	min: (ms(5)), 
	max: (ms(6))
); 
$h2: ( 
	min: (ms(3)),
	max: (ms(4))
);
$h3: ( 
	min: (ms(2)),
	max: (ms(3))
);
$h4: ( 
	min: (ms(1)),
	max: (ms(2))
);
$h5: ( 
	min: (ms(0)),
	max: (ms(1))
);
$h6: ( 
	min: (ms(0)),
	max: (ms(0)) 
);