/*
 * Basic files
 */

/*
 * Reset
 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-base);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
figure,
form,
fieldset,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

/*
 * Main rules
 */

html {
    background: var(--bg-primary);
    font-size: 14px;
    height: 100%;
    overflow-y: auto !important;
}

body#tinymce {
    color: var(--text-primary-color);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-base);
    font-size: inherit;
    line-height: 1.6;
    padding: 1.8rem 1rem 0 1rem;

    & > :nth-child(1) {
        margin-top: 0;
    }
}

a:not(.btn) {
    border-bottom: 3px solid rgba(var(--yellow), 1);
    color: var(--link-invert-color);
    cursor: pointer;
    text-decoration: none !important;
    text-decoration-skip-ink: auto;

    &:hover {
        background: rgba(var(--yellow), .2);
        color: var(--link-invert-color);
    }

    &:active {
        color: var(--link-invert-color);
    }

    &:focus {
        color: var(--link-invert-color);
        outline: 2px dotted var(--color-primary);
    }
}


p,
ul,
ol,
dl,
table,
hr {
    margin-top: 0.9143rem;
}

blockquote,
figure {
    margin-top: 0.9143rem;
    margin-bottom: 0.9143rem;
}

pre,
table,
script {
    margin-top: 0.9143rem;
    margin-bottom: 1.1429rem;
}

figcaption {
    clear: both;
    color: var(--gray-4);
    font-size: 0.7rem;
    margin: 0.8rem 0 0;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headings-color);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing);
    line-height: 1.3;
    margin-top: 1.1429rem;
}

h1 {
    font-size: 1.802em;
}

h2 {
    font-size: 1.6018em;
}

h3 {
    font-size: 1.4238em;
}

h4 {
    font-size: 1.2656em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

h2,
h3,
h4,
h5,
h6 {
    & + p {
        margin-top: 0.6857rem;
    }
}

b,
strong {
    font-weight: var(--font-weight-bold);
}

blockquote {
    background: var(--gray-1);
    border-left: 3px solid var(--color-primary);
    font-style: italic;
    padding: 0.4571rem 0 0.4571rem 1.8286rem;

    & > :nth-child(1) {
        margin-top: 0;
    }
}

ul,
ol {
    margin-left: 2rem;

    & > li {
        list-style: inherit;
        padding-left: 0.4571rem;
    }

    ul,
    ol {
        margin-bottom: 0.4571rem;
        margin-top: 0.4571rem;
    }
}

dl {
    dt {
        font-weight: var(--font-weight-bold);
    }
}

pre {
    background-color: var(--gray-1);
    font-size: 0.8889em;
    padding: 1.3714rem;
    white-space: pre-wrap;
    word-wrap: break-word;

    & > code {
        background: none;
        color: var(--headings-color);
        display: inline-block;
        font-size: 0.8889em;
        font-weight: normal;
        padding: 0;
    }
}

code {
    background-color: rgba(var(--warning-rgb), .15);
    border-radius: 2px;
    color: var(--warning);
    font-size: 0.8889em;
    font-family: var(--font-monospace);
    padding: 0.2286rem 0.4571rem;
}

table {
    border: 1px solid var(--input-border-color);
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
    text-align: left;
    width: 100%;

    th {
        font-weight: var(--font-weight-semibold);
        padding: 0.5714rem 0.9143rem;
    }

    td {
        border-top: 1px solid var(--input-border-color);
        padding: 0.5714rem 0.9143rem;
    }
}

kbd {
    background: var(--headings-color);
    border-radius: 2px;
    color: var(--bg-primary);
    font-family: var(--font-monospace);
    font-size: 0.8888em;
    padding: 0.1143rem 0.3429rem;
}

sub,
sup {
    font-size: 65%;
}

small {
    font-size: 0.7901em;
}

hr:not(#read-more) {
    background: none;
    border: none;
    height: auto;
    line-height: 1;
    max-width: none;
    text-align: center;

    &::before {
        content: "* * *";
        color: var(--headings-color);
        font-size: 30px;
    }
}

/*
 * Alignment
 */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}
