{{> head}}
    {{> top}}
    <main>
        <div class="hero u-wrapper">
            <h1>
                {{ translate 'error.404' }}
            </h1>
            <p class="hero__meta">
                {{ translate 'error.message' }}
            </p>
        </div>
    </main>
    {{> footer}}
